body {
  margin: 0;
  padding: 0;
  background-color: rgb(253, 255, 254);

}
.header {
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
  height: 130px;
  margin: 8px;
}
.logo {
  width: 200px;
  margin-top: -10px;
}
.nav-items ul {
  display: flex;
  list-style: none;
  padding: 0px 25px;
  font-size: 25px;
}
.nav-items ul li {
  padding: 8px;
  margin: 10px;
  cursor: pointer;
}
.login_btn {
  padding: 15px;
  border: none;
  font-size: 25px;
  background: none;
  background-color: #e78624; /* Orange color, you can change it */
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.login_btn:hover {
  background-color: #e65100; /* Darker shade of orange on hover */
}
.res-card {
  width: 200px;
  /* height: 450px; */
  /* border: 2px solid black; */
  margin: 10px;
  padding: 5px;
  background-color: rgb(247, 245, 245);
  cursor: pointer;
  margin: 15px;
}
.res-card:hover {
  /* border: 1px solid rgb(0, 0, 0); */
  box-shadow: 10px 10px 5px rgb(141, 132, 132);
}
.res-container {
  display: flex;
  flex-wrap: wrap;
}
.search{
    margin: 5px;
    display: flex;
}
.search_box{
    padding: 5px;
    margin-right: 5px;
}
.search_btn{
    background-color: #e78624; /* Orange color, you can change it */
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.filter{
    display: flex;
}

.filter-btn {
  padding: 8px;
  cursor: pointer;
  background-color: #f09a44;
  margin-left: 8vh;
  margin-bottom: 1px;
  border-radius: 5px;
}
.filter-btn:hover {
  background-color: #e65100;
  transition: background-color 0.3s ease;
}
.res-logo {
  width: 100%;
}
Footer {
  height: 300px;
  width: 100%;
  background-color: cadetblue;
}

.shimmer_container {
  display: flex;
  flex-wrap: wrap;
}
.shimmer_card {
  cursor: pointer;
  background-color: #f3eeee;
  width: 200px;
  margin: 15px;
  padding: 5px;
  height: 380px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
